/* import the required JSAPI css */
@import 'https://js.arcgis.com/4.6/esri/css/main.css';
/* @import 'https://js.arcgis.com/4.7/esri/css/view.css'; */

.esri-view {
  height: 800px;
}

/* .esri-view {
    padding: 10;
    margin: 15;
    height: calc(100% - 62px);
    height: 800px;
    width: 100%;
  } */